.registration-back {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    border: 2px solid black;
}
.registration-back > * {
    margin: 1rem auto;
    
}